<table>
    <tr>
        <td>
            <h1>Game Galaxy</h1>

            <p>This is a visualization of the <a href="http://www.giantbomb.com/api/" target="_blank">GiantBomb API</a>
                using the <a href="http://www.famo.us">Famo.us</a> display system.</p>

            <p>The first thing you need to do is to enter in a search term.
                This can be a partial or full game name, then click List.
                The GiantBomb API can be a bit slow, so give it a few seconds. Also, large datasets can take a few
                passes to load
                ... watch the load progress in the footer</p>

            <p>Rolling over a game row changes the display on the right, showing the name,
                art and a button to view a description of the game.
                Clicking once on a row "locks" the rollover, allowing you to get to the callout
                description button without accidentally rolling over another game.
                Clicking again on the same game "Unlocks" the row.</p>

            <p>Clicking the "Description" button on the callout displays a text description of the game.</p>

            <p>Not all games listed have a description and images</p>

            <h2>Filtering the game list</h2>

            <p>The game list can be sorted by name or release date by cliking on a row header. </p>

            <p>Once you have a list of games, clicking on the &quot;&#9680;&quot; button opens a dialog showing
                all the platforms of all the games; click on a platform to reduce the list to only show games
                playable on that platform. Click the "X" by the Platform name in the header to view games for all
                platforms.</p>
        </td>
        <td>
            <p>
                <img src="/img/home/GameGalaxy.png"/>
            </p>


            <h2>Viewing the games in a timeline</h2>

            <p>Once you have a dataset you can click or over over a list item to view detail on it in the right
                panel.</p>

            <p>You can also flip between list and timeline views with the buttons in the upper right corner.</p>
        </td>
    </tr>
</table>