.header {
    background-color: #ad6704;
    color: white;

}

.header h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

.footer {
    background: -moz-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(173, 103, 4, 0)), color-stop(50%, rgba(173, 103, 4, 0)), color-stop(85%, rgba(173, 103, 4, 0.25)), color-stop(100%, rgba(173, 103, 4, 0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ad6704', endColorstr='#a6ad6704', GradientType=0); /* IE6-9 */

}

.game-row {
}
.game-row.hover {
    background-color: navajowhite;
}

.game-row-platform {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.game-row-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1em;
}

.game-row-cell {
    padding-top: 3px;
    padding-bottom: 3px;

}

.entry-frame {
    background-color: rgb(245, 245, 245)
}

.label {
    font-weight: bold;
}

#search-input {

    font-size: 100%;
    padding: 0.25em;
    width: 300px;
}

.filter-label {
    color: rgb(100,100,100);
}

.sort-icon {
    color: moccasin;
}

.sort-icon.hover {
    background-color: #ad6704;
}

.dialog-frame {
    background-color: #149bdf;
    padding: 1.5em;
    -webkit-box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
}

.dialog h2 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0
}

.platform-icon {
    font-size: 80%;
    background-color: #0081c2;
    border: 2px solid #149bdf;
    padding: 4px 8px;
}
.platform-icon.hover {
    background-color: #5db1e2;
}

#clear-platform {
    font-weight: bold;
    color: rgb(204,0,0);
}

.platform-icon h3 {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.platform-icon p {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.game-header {
    background-color: #df8505;
}

.game-header-label {
    color: white;
    font-weight: bold;
}
.game-header-label.name {
    padding-left: 1em;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.game-list {
    overflow: hidden;
}