.header {
    background-color: #301e04;
    color: white;

}

.header h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    font-family: 'Roboto Condensed', Helvetica Neue, Arial, sans-serif;
}

.footer {
    background: -moz-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(173, 103, 4, 0)), color-stop(50%, rgba(173, 103, 4, 0)), color-stop(85%, rgba(173, 103, 4, 0.25)), color-stop(100%, rgba(173, 103, 4, 0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(173, 103, 4, 0) 0%, rgba(173, 103, 4, 0) 50%, rgba(173, 103, 4, 0.25) 85%, rgba(173, 103, 4, 0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ad6704', endColorstr='#a6ad6704', GradientType=0); /* IE6-9 */

}

.game-row {
}

.game-row.hover {
    background-color: navajowhite;
}

.game-row.lock {
    background-color: #da4f49;
    color: white
}

.game-row-platform {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.game-row-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1em;
}

.game-row-cell {
    padding-top: 3px;
    padding-bottom: 3px;

}

.callout-image {
    border: none;
}

.game-callout-back {
    background-color: #44363a;
}

.game-callout-header {
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(66,53,56,0.76) 37%, rgba(68,54,58,0.75) 38%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(37%,rgba(66,53,56,0.76)), color-stop(38%,rgba(68,54,58,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(66,53,56,0.76) 37%,rgba(68,54,58,0.75) 38%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(66,53,56,0.76) 37%,rgba(68,54,58,0.75) 38%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(66,53,56,0.76) 37%,rgba(68,54,58,0.75) 38%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(66,53,56,0.76) 37%,rgba(68,54,58,0.75) 38%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.game-callout-header h1 {
    font-size: 250%;
    margin: 0;
    padding: 0.125em;
    padding-left: 0.5em;
    font-family: 'Roboto Condensed', Helvetica Neue, Arial, sans-serif;
    color: white;
    text-shadow: 8px 4px 10px #000000;
}

.callout-platform {
    padding-left: 2em;
    padding-right: 1.5em;
}

.callout-platform-bullet {
    color: #df8505;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.platform-callout-platform {
    font-family: 'Roboto Condensed', Helvetica Neue, Arial, sans-serif;
    display: inline;
    font-weight: bold;
    color: white;
    font-size: 100%;
    margin: 0
}

.button {
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.game-callout-text {
    border: 1px solid black;
    padding: 1em;
    font-size: 110%;
    overflow: scroll;
    background-color: white;
    padding-top: 150px;
    padding-bottom: 100px;
}
.info-button {
    display: none;
    color: white;
    font-family: 'Roboto Condensed', Helvetica Neue, Arial, sans-serif;
    padding: 3px 6px;
    font-size: 120%;
    background: rgb(240, 183, 161); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 183, 161, 1)), color-stop(50%, rgba(140, 51, 16, 1)), color-stop(51%, rgba(117, 34, 1, 1)), color-stop(100%, rgba(191, 110, 78, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0b7a1', endColorstr='#bf6e4e', GradientType=0); /* IE6-9 */

}

.info-close-button {
    z-index: 1000;
}

.info-button.hover {
    background: rgb(239,90,35); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(239,90,35,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(188,50,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,90,35,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(51%,rgba(117,34,1,1)), color-stop(100%,rgba(188,50,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,90,35,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(188,50,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,90,35,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(188,50,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,90,35,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(188,50,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,90,35,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(188,50,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5a23', endColorstr='#bc3200',GradientType=0 ); /* IE6-9 */

}

.entry-frame {
    background-color: rgb(245, 245, 245)
}

.label {
    font-weight: bold;
}

#search-input {

    font-size: 100%;
    padding: 0.25em;
    width: 300px;
}

.filter-label {
    color: rgb(100, 100, 100);
}

.sort-icon {
    color: moccasin;
}

.sort-icon.hover {
    background-color: #ad6704;
}

.dialog-frame {
    background-color: #149bdf;
    padding: 1.5em;
    -webkit-box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 25px 29px 31px 0px rgba(0, 0, 0, 0.27);
}

.dialog h2 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0
}

.main {
    text-align: left;
    padding-left: 2em;
    line-height: 150px;
}

.platform-icon {
    font-size: 80%;
    background-color: #0081c2;
    border: 2px solid #149bdf;
    padding: 4px 8px;
}

.platform-icon.hover {
    background-color: #5db1e2;
}

#clear-platform {
    font-weight: bold;
    color: rgb(204, 0, 0);
}

.platform-icon h3 {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.platform-icon p {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.game-header {
    background-color: #df8505;
}

.game-header-label {
    color: white;
    font-weight: bold;
}

.game-header-label.name {
    padding-left: 1em;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.game-list {
    overflow: hidden;
}